$mainPink: #f67599
$text-content: #2a2a2a
$dark: #000
$light: #ffffff
$footer-grey: #e5e5e5
$footer-text-grey: #808080
$step-grey: #afb1bd
$step-checked: #2a2a2a
$border-grey: #f0f0f5
$input-grey: #999999
$cart-bg: #ffffff

.product
  flex-basis: 18%
  margin: 2% 0
  padding: 0 1%
  display: flex
  flex-direction: column
  .product-container
    border: 1px solid $border-grey
    border-radius: 4px
    box-shadow: 1px 1px 0px 1px $border-grey
  .product-head
    width: 100%
    padding-top: 100%
    position: relative
    .product-image
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      object-fit: cover
      border-radius: 6px 6px 0 0
  .product-body
    padding: 8px
    height: 150px
    position: relative
    .product-name
      font-size: 20px
      font-weight: 500
      text-decoration: none
      color: $text-content
      &:hover
        text-decoration: underline
    .product-description
      margin-top: 3%
      color: $input-grey
      font-size: 14px
      font-weight: 300
    .product-price
      margin-top: 3%
      font-size: 16px
      color: $text-content
    .product-add
      margin-top: 5%
      border: 1px solid $step-checked
      background: $light
      padding-left: 5%        
      padding-right: 5%
      color: $step-checked
      font-weight: 300
      border-radius: 4px
      cursor: pointer
      &:hover
        background: $step-checked
        color: $light
      // +breakpoint(mobile)
      //   font-size: 12px
// +breakpoint(pad-portrait)
//   flex-basis: 50%
//   max-width: 50%
// +breakpoint(mobile)
//   min-width: 100%
  
  
